@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Jackson.Bruce</h3>

<address>
    <br />
    
    博客园：<a href="http://www.cnblogs.com/Jackson-Bruce/" target="_blank">http://www.cnblogs.com/Jackson-Bruce/</a>  <br />
    技术交流群：5946699
  
</address>

<address>
    <strong>技术支持:</strong>   <a href="mailto:jackson.bruce@live.com">jackson.bruce@live.com</a><br />
</address>